@model Forum.Topic

@{
    ViewBag.Title = Model.Name;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Html.DisplayFor(modelItem => Model.Name)</h2>

<ol class="breadcrumb">
    <li>@Html.ActionLink("Home", "Index", "Home")</li>
    <li>@Html.ActionLink(Model.Category.Name, "Index", "Category", new { id=Model.CategoryId }, null)</li>
    <li class="active">@Html.DisplayFor(modelItem => Model.Name)</li>
</ol>

@foreach (var message in Model.Messages)
{
    <div class="panel panel-default">
        <div class="panel-heading">
            <b>@Html.DisplayFor(modelItem => message.Author.Username)</b> om @Html.DisplayFor(modelItem => message.Date)
        </div>
        <div class="panel-body">
            @Html.DisplayFor(modelItem => message.Text)
        </div>
    </div>    
}

@Html.Action("Add", new { id = Model.Id })