@model IEnumerable<Forum.MainCategory>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>
@foreach (var maincatory in Model)
{
<div class="panel panel-default forum-categorie">
    <div class="panel-heading">@Html.DisplayFor(modelItem => maincatory.Name)</div>

    <table class="table">
        <tr>
            <th colspan="2">
                Forum
            </th>
            <th class="text-center">
                Topics
            </th>
            <th class="text-center">
                Berichten
            </th>
            <th class="text-center">
                Laatst bericht
            </th>
        </tr>

        @if (maincatory.Categories.Count == 0)
        {
            <tr>
                <td colspan="5">
                    Er zijn geen categoriën gevonden.
                </td>
            </tr>
        }

        @foreach (var category in maincatory.Categories)
        {
        <tr>
            <td class="col-xs-1 text-center">
                @if (category.UnreadTopicCount == 0)
                {
                    <span class="glyphicon glyphicon-folder-close"></span>
                }
                else
                {
                    <span class="glyphicon glyphicon-folder-open" title="@category.UnreadTopicCount ongelezen berichten"></span>
                }
            </td>
            <td class="col-xs-7">
                <b>@Html.DisplayFor(modelItem => category.Name)</b><br />
                <i>@Html.DisplayFor(modelItem => category.Description)</i>
            </td>
            <td class="col-xs-1 text-center">
                @Html.DisplayFor(modelItem => category.TopicCount)
            </td>
            <td class="col-xs-1 text-center">
                @Html.DisplayFor(modelItem => category.MessageCount)
            </td>
            <td class="col-xs-2 text-center">
                @if (category.LastMessage == null)
                {
                    <i>Geen laatste bericht</i>
                }
                else
                {
                    @Html.DisplayText("In") @Html.DisplayFor(modelItem => category.LastMessage.Topic.Name)
                    @Html.DisplayText("door") @Html.DisplayFor(modelItem => category.LastMessage.Author.Username)
                    @Html.DisplayText("op") @Html.DisplayFor(modelItem => category.LastMessage.Date)
                }
            </td>
        </tr>
        }
    </table>
</div>
}